<form class="cwModalPopUp">
    <div class="modal-body">
        <div class="cw-loading" id="cw-loading">
            <div class="cw-loading-image cw-loading-spinner">
                <div class="cw-loading-spinner-child cw-loading-spinner1"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner2"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner3"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner4"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner5"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner6"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner7"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner8"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner9"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner10"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner11"></div>
                <div class="cw-loading-spinner-child cw-loading-spinner12"></div>
            </div>
        </div>

        <div>
            <h4>{{loadingMsg}}</h4>
        </div>
    </div>
</form>