<div class="row" >
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title"><span class="lstick"></span>Notification Settings</h3>
                        <h6 class="card-subtitle">Bot notifications for activity</h6>
                    </div>
                </div>
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-t-10">
                                    <h4>Setup activity tracking <span class="text-danger">*</span></h4>
                                    <div class="controls">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" ng-model="activity.enableStartNotify" required="" value="single" name="styled_single_checkbox" class="custom-control-input"> 
                                            <span class="custom-control-indicator"></span> <span class="custom-control-description">Enable start activity notification</span> </label>
                                        <div class="help-block"></div></div>
                                    <div class="controls m-t-10">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" ng-model="activity.enableEndNotify" required="" value="single" name="styled_single_checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span> <span class="custom-control-description">Enable post activity notification</span> </label>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Setup ticket tracking <span class="text-danger">*</span></h4>
                                    <div class="controls">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" ng-model="activity.enableAddTicketNotify" required="" value="single" name="styled_single_checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span> <span class="custom-control-description">Enable ticket notification</span> </label>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Setup SLA tracking <span class="text-danger">*</span></h4>
                                    <div class="controls">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" ng-model="activity.enableSlaViNotify" required="" value="single" name="styled_single_checkbox" class="custom-control-input">
                                            <span class="custom-control-indicator"></span> <span class="custom-control-description">Enable SLA violation notification</span> </label>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div ng-show="activity.enableSlaViNotify" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>SLA Percentage <span class="text-danger">*</span></th>
                                            <th>Select Resource <span class="text-danger">*</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="slaNotific in activity.slaNotifications">
                                            <td>{{slaNotific.slapercentage}}%</td>
                                            <td>
                                                <select ng-model="slaNotific.member" class="form-control custom-select" ng-options="member.identifier as member.firstnlastname for member in members">
                                                    <option value="">Select Member</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <h3 class="card-title"><span class="lstick"></span>On Call Settings</h3>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Day</th><th>Start Hour <span class="text-danger">*</span></th>
                                        <th>Start Minute <span class="text-danger">*</span></th>
                                        <th>End Hour <span class="text-danger">*</span></th>
                                        <th>End Minute <span class="text-danger">*</span></th>
                                        <th>Resource <span class="text-danger">*</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oncall in activity.oncalldays">
                                        <td>{{oncall.dayname}}</td>
                                        <td>
                                            <select ng-model="oncall.startHour" class="form-control custom-select" ng-options="member.id as member.name for member in hours">
                                                <option value="">Select Start Hour</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select ng-model="oncall.startMinute" class="form-control custom-select" ng-options="member.id as member.name for member in minutes">
                                                <option value="">Select Start Minute</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select ng-model="oncall.endHour" class="form-control custom-select" ng-options="member.id as member.name for member in hours">
                                                <option value="">Select End Hour</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select ng-model="oncall.endMinute" class="form-control custom-select" ng-options="member.id as member.name for member in minutes">
                                                <option value="">Select End Minute</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select ng-model="oncall.resources" class="form-control custom-select" ng-options="member.identifier as member.firstnlastname for member in members">
                                                <option value="">Select Resource</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="offset-sm-3 col-md-9">
                                        <button type="button" class="btn btn-outline-info" ng-click="saveActivityNotifications(activity)"><i class="fa fa-save"></i> Save</button>
                                        <button type="button" ng-click="cancel()" class="btn btn-outline-inverse">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>